* {
    box-sizing: border-box;
}

body {
  background-color: #ffffff;
  margin: 0;
  font-family: "Roboto", "Inter", Helvetica;
  font-size: 1rem;
  font-weight: normal;
}

.auth-layout {
    margin-top: 10vh;
    padding: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.auth-box {
    display: flex;
    width: 80vw;
    min-width: 700px; 
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    background-color: #ffffff;
    overflow: hidden;
}

.auth-left {
    display: flex;
    flex-direction: column;
    flex: 3; 
    min-width: 280px; 
    height: 80vh;
    padding: 60px 40px;
    gap: 24px;
    background-color: #0C49A6;
    border: 1px solid black;
    border-right: none;
    color: #ffffff;
}

.auth-left h1 {
    display: block; 
    max-width: min-content; 
    margin: 0;
    font-size: clamp(2.5rem, 4vw, 4rem);
    line-height: 1.2;
    letter-spacing: -0.05rem;
    width: 100%;
    
    
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

.auth-left p {
    margin: 0;
    width: 100%;
    font-size: clamp(0.9rem, 1.2vw, 1.2rem);
    line-height: 1.6;
    opacity: 0.9;
}

.auth-right {
    flex: 5; 
    height: 80vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

