
body {
  background-color: #ffffff;
  margin: 0;
  font-family: "Roboto", "Inter", Helvetica;
  font-size: 1rem;
  font-weight: normal;
}

#progress-container { 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%; 

    border: 1px solid black;

}

#progress-container label {
    font-size: 0.95em;
    font-family: "Inter", "Roboto", "Helvetica";
    color: #333333;
}


#progress-container input[type="text"],
#progress-container input[type="email"] {
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    font-size: 0.95em;
    font-family: "Inter", "Roboto", "Helvetica";
    padding-left: 10px;
    background-color: rgb(213, 213, 213);
    border: none;
    border-radius: 4px; 
    transition: background 0.3s;
}

#progress-container input[type="text"]:hover,
#progress-container input[type="email"]:hover {
    background-color: rgb(196, 196, 196);
}



#progress-field-1,
#progress-field-2,
#progress-field-3,
#progress-field-4,
#progress-field-5 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    height: 15%;
    gap: 5%;
    
}   
   

.progress-input-field-1, .progress-input-field-2 { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100%;
    height: 100%;
    flex: 1;
    gap: 5px;

}



#progress-field-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 80%;
    height: auto;       
    min-height: 60px;  
    gap: 10px;          
    margin-top: 20px;
 
}

.progress-error {
    margin: 0;
    padding: 0;
    color: red;
    font-size: 0.85rem; 
    font-family: sans-serif;
    text-align: center;
    width: 100%;


}

.blue-button {
    width: 100%;
    height: 45px;       
    background-color: #0C49A6;
    border: none;
    border-radius: 12px;
    font-size: 0.9rem;
    color: #FFFFFF;
    cursor: pointer;
    transition: background 0.3s;
}

.blue-button:hover {
    background-color: #093a85;
}

