
body {
  background-color: #ffffff;
  margin: 0;
  font-family: "Roboto", "Inter", Helvetica;
  font-size: 1rem;
  font-weight: normal;
}

#student-container { 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%; 
    gap: 2%;

    border: 1px solid black;

}

#student-field-1,
#student-field-2,
#student-field-3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    height: 15%;
    gap: 5%;
    
}   
   
#student-field-4 {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 42px;
    margin-top: 10px;
}


.input-field-1, .input-field-2 { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100%;
    height: 100%;
    flex: 1;
    gap: 5px;

    position: relative;

}


.student-error {
  position: absolute;
  margin: 0;
  padding: 0;
  color: red;
  font: 0rem;
  font-family: sans-serif;
  height: auto;
}

#student-container input {
    box-sizing: border-box;
    width: 100%;
    height: 40%;
    font-size: 0.95em;
    padding-left: 10px;
    background-color: rgb(213, 213, 213);
    border: none;
}


.blue-button {
    width: 100%;
    background-color: #0C49A6;
    border: none;
    border-radius: 12px;
    font-size: 0.82rem;
    color: #FFFFFF;
}

