html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.supervisor-homepage-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.supervisor-bars {
    display: flex;
    flex-direction: column;
}

.supervisor-navbar-layout {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0C49A6;
    gap: 15px;
}

.supervisor-navbar-layout button { 
    background-color: #0C49A6;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    color: white;
    font-size: clamp(0.1rem, 1.3vw, 4rem);
    font-family: "Roboto", "Inter", sans-serif;
    letter-spacing: -0.05em;
}

.supervisor-navbar-layout button:hover {
    background-color: #0a3776;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.supervisor-navbar-layout button[name="supervisor-burger"] {
    position: absolute;
    left: 15px;
    color: white;
    font-size: clamp(0.1rem, 1.3vw, 4rem);
    font-family: "Roboto", "Inter", sans-serif;
}

.supervisor-sidebar {
    top: 10vh;
    box-sizing: border-box;
    position: absolute;
    width: 15vw;
    height: 90vh;
    background-color: #0C49A6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3%;
    z-index: 999; 
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
}

.supervisor-sidebar button {
    width: 70%;
    height: 5%;
    background-color: #0C49A6;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 2%;
    border: none;
    border-bottom: 1px solid white;
    white-space: nowrap;
    color: white;
    font-size: clamp(0.1rem, 1vw, 2rem);
    font-family: "Roboto", "Inter", sans-serif;
    letter-spacing: -0.05em;
    display: flex;          
    justify-content: center; 
    align-items: center;     
}

.supervisor-sidebar button:hover {
    background-color: #0a3776;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.supervisor-main-outer {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}   

.supervisor-main-inner {
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: 98%;
    width: 97%;
    border: 2px solid #e3e3e3;
    border-radius: 10px; 
}

.supervisor-main-inner h1 {
    font-size: clamp(0.1rem, 2.3vw, 5rem);
    font-family: "Roboto", "Inter", sans-serif;
    letter-spacing: -0.05em;
    color: #6593BB;
}

.supervisor-info {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 87%; 
}

.supervisor-info-1 {
    display: flex;
    margin-left: 2%;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    height: 90%;
    align-items: center;
    border: 1px solid #525252;
    border-radius: 10px;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
}

.supervisor-chart-container {
    position: relative;
    width: 90%;  
    height: 80%;   
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.supervisor-info-1 h2 {
    margin-top: 8%;
    font-size: clamp(0.1rem, 1.8vw, 5rem);
    font-family: "Roboto", "Inter", sans-serif;
    font-weight: bold;
    color: #444E5E;
    letter-spacing: -0.04em;
}

.supervisor-info-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    gap: 60px; 
    width: 30%;
    height: 85%;
}

.supervisor-i2-f1 {
    display: flex; 
    justify-content: flex-start;
    border: 1px solid #9F9F9F;
    width: 100%;
    border-radius: 10px;
}

.supervisor-i2-f1 h2 {
    padding-left: 20px;
    font-size: clamp(0.1rem, 1.3vw, 3rem);
    font-weight: 200;
    letter-spacing: -0.04rem;
    color: #444E5E;
}

.supervisor-i2-f2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 35%;
}

.supervisor-i2-f3{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 35%;
}

.supervisor-info-box-1{
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #9F9F9F;
    border-radius: 10px;
    width: 40%;
}

.supervisor-info-box-2{
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #9F9F9F;
    border-radius: 10px;
    width: 40%;
}

.supervisor-info-box-1 h2,
.supervisor-info-box-2 h2 {
    margin: 0;
}

.supervisor-info-descr {
    font-size: clamp(0.1rem, 1.4vw, 4rem);
    font-family: "Inter", "Roboto", sans-serif;
    letter-spacing: -0.05em;
    color: #444E5E;
    font-weight: bold;
    text-align: center;
}

.supervisor-info-stats {
    font-size: clamp(0.1rem, 3vw, 4rem);
    font-family: "Roboto", "Inter", sans-serif;
    letter-spacing: -0.05em;
    color: #DCD865;
    font-weight: bold;
}

.supervisor-info-3 {
    margin-right: 2%;
    width: 30%;
    height: 90%;
    border: 1px solid #7a7a7a;
    border-radius: 12px;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
}

.supervisor-record-header {
    background-color: #0C49A6;
    color: white;
    text-align: center;
    letter-spacing: -0.04rem;
    font-family: "Roboto", "Inter", sans-serif;
    font-size: clamp(0.1rem, 2.0vw, 3rem);
    font-weight: bold;
    padding: 5% 0;
}

.supervisor-record-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.supervisor-record-table td {
    border: 0.1px solid #7a7a7a;
    text-align: center;
    padding: 18px 10px;
    font-family: "Roboto", "Inter", sans-serif;
    font-size: clamp(0.1rem, 1.1vw, 2rem);
    font-weight: 500;
    color: #444E5E;
}