
.main-page{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: #F8F8F8;
    letter-spacing: -7%;
}

.main-box{
    position: relative;
    height: 98vh;
    width: 98vw;
    background-color: white;
    border: black 1px solid;
    border-radius: 20px;
    font-family: "Roboto", "Inter", Helvetica ;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 160px;
}

.main-title{
    color: #0C49A6;
    font-size: 4rem;
    letter-spacing: -5px;
    margin-top: 4%;
    margin-left: 5%;
}

.homepage{
    display: flex;
    align-items: center;
    width: 15%;
    font-size: 2rem;
    margin-top: 5.5%;
    color: #444E5E;
    margin-right: 2%;
}

.homepage h3:hover{
    color:#0C49A6;
    cursor: pointer;
}

.home-icon{
    width: 5%;
    max-width: 40px;
    margin-right: 2%;
}

.home-icon2{
    width: 25%;
    max-width: 40px;
    margin-right: 2%;
}

.list-select{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    gap: 60px;
    font-family: "Roboto", "Inter", Helvetica ;
    height: 70px;
}

.current-list{
    font-weight: bold;
    text-decoration: underline;
}

h2{
    font-size: 1.8rem;
    font-weight: 100;
}

.list-select h2:hover{
    cursor: pointer;
    color:#0C49A6;
}

hr{
    width: 95vw;
    border: 0;
    border-top: black solid;
}

.entry-search-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5%;
    margin-left: 4%;
    margin-right: 4%;
}

.entries{
    display: flex;
    gap: 20px;
    align-items: center;
    width: 20%;
}

.select-number-entries{
    height:80%;
    width: 50%;
    max-width: 50px;
    font-weight: bold;
    font-size: 1rem;
    padding:5px;
    border-radius: 5px;
    border: 1px #444E5E solid;
}

.entry-text{
    color: #5E4448;
    opacity: 50%;
}

.search-section{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    gap: 20px;
}

input[type="search"]{
    height: 35px;
    width: 320px;
    border-radius: 5px;
    border: 1px #444E5E solid;
}

input[type="search"]:hover{
    filter: brightness(0.9);
}

input[type="search"]:focus{
    filter: brightness(1.1);
    background-color: lightgray;
}

.search-bar{
    position: relative;
}

.search-icon{
    position:absolute;
    width: 15%;
    max-width: 38px;
    right: 5px;
}

table{
    padding-top:25px;
    width:100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.table-header{
    font-weight: bold;
    color: #444E5E;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 15px;
}


.table-cell{
    text-align: center;
    color: #444E5E;
    font-size: 1em;
    padding: 2.5vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.bottom-header{
    display: flex;
    justify-content: end;
    gap: 14px;
    position:absolute;
    bottom:3.3vh;
    right:0;
    width: 500px;
    height: 50px;
    font-size: 32px;
    color: #444E5E;
    margin-right: 3%;
}

.bottom-header img{
    width: 1.5vw;
    margin-top: 5%;
}

.page-button {
    border:none;
    background: none;
    cursor: pointer;
    margin-top: 4%;
}

.clickable-name{
    text-decoration: underline;
    color:#0C49A6;
    cursor: pointer;
}

.clickable-name:hover{
    color:purple;
}

.detailed-user-info-homepage h2:hover{
    color:#0C49A6;
    cursor: pointer;
}

.sort-icon{
    height: 20px;
    margin-left: 7px;
    vertical-align: middle;
}

